<a href="https://colab.research.google.com/github/jmartinbellido/MDA/blob/main/MDA_Ejercicios_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ÍNDICE
# **ISDI MDA**
# R - Ejercicios de Repaso *dplyr*
---
Este *notebook* ha sido elaborado como guía práctica para el curso introductorio en R. 

### Profesor: Juan Martin Bellido (jmbelldo@isdi.education)

In [ ]:
# Cargamos todas las librerías que utilizaremos en la sesión
require(data.table)
require(dplyr)

### 1. OPERACIONES BÁSICAS CON dplyr
---

#### EX 1A
Seleccionar los top 3 actores, según salario total percibido en todas las películas en las que hayan participado.

Dataset > https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv

In [ ]:
# Importamos un df
df_james_bond = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
glimpse(df_james_bond)

Rows: 26
Columns: 7
$ Film                <chr> "Dr. No", "From Russia with Love", "Goldfinger", "…
$ Year                <int> 1962, 1963, 1964, 1965, 1967, 1967, 1969, 1971, 19…
$ Actor               <chr> "Sean Connery", "Sean Connery", "Sean Connery", "S…
$ Director            <chr> "Terence Young", "Terence Young", "Guy Hamilton", …
$ `Box Office`        <dbl> 448.8, 543.8, 820.4, 848.1, 315.0, 514.2, 291.5, 4…
$ Budget              <dbl> 7.0, 12.6, 18.6, 41.9, 85.0, 59.9, 37.3, 34.7, 30.…
$ `Bond Actor Salary` <dbl> 0.6, 1.6, 3.2, 4.7, NA, 4.4, 0.6, 5.8, NA, NA, NA,…

In [ ]:
#1A
df_james_bond %>% group_by(
    Actor
  ) %>% summarise(
    total_salary = sum(`Bond Actor Salary`,na.rm=TRUE)
  ) %>% arrange(
    desc(total_salary)
  ) %>% head(3)

  Actor          total_salary
1 Pierce Brosnan 46.5
2 Daniel Craig   25.9
3 Sean Connery   20.3

#### EX 1B
Crear un campo *total_sales* en el dataframe que englobe las ventas totales en todas las regiones. Crear otro campo *video_game_segment* que identifique videojuegos que hayan vendido en total más de 5MM ("top sales") vs. el resto ("not top sales"). Filtrar por videojuegos para la plataforma 'N64' y desplegar columnas; *name*, *platform_code*, *total_sales*, *video_game_segment*.

Dataset > https://data-wizards.s3.amazonaws.com/datasets/dataset_videogames_games.csv

In [ ]:
# Importamos df
df_videogames = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_videogames_games.csv")
glimpse(df_videogames)

Rows: 15,947
Columns: 10
$ rank          <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 1…
$ name          <chr> "Wii Sports", "Super Mario Bros.", "Mario Kart Wii", "Wi…
$ platform_code <chr> "Wii", "NES", "Wii", "Wii", "GB", "GB", "DS", "Wii", "Wi…
$ year          <int> 2006, 1985, 2008, 2009, 1996, 1989, 2006, 2006, 2009, 19…
$ genre         <chr> "Sports", "Platform", "Racing", "Sports", "Role-Playing"…
$ publisher     <chr> "Nintendo", "Nintendo", "Nintendo", "Nintendo", "Nintend…
$ NA_sales      <dbl> 41.49, 29.08, 15.85, 15.75, 11.27, 23.20, 11.38, 14.03, …
$ EU_sales      <dbl> 29.02, 3.58, 12.88, 11.01, 8.89, 2.26, 9.23, 9.20, 7.06,…
$ JP_sales      <dbl> 3.77, 6.81, 3.79, 3.28, 10.22, 4.22, 6.50, 2.93, 4.70, 0…
$ Other_sales   <dbl> 8.46, 0.77, 3.31, 2.96, 1.00, 0.58, 2.90, 2.85, 2.26, 0.…

In [ ]:
#1B
df_videogames %>% mutate(
  total_sales = NA_sales + EU_sales + JP_sales + Other_sales
  ,video_game_segment = case_when(
    total_sales > 5 ~ 'top_sales'
    ,TRUE == TRUE ~ 'not_top_sales'
  )
) %>% filter(
  platform_code == 'N64'
) %>% select(
  name
  ,platform_code
  ,total_sales
  ,video_game_segment
)

    name                                           platform_code total_sales
1   Super Mario 64                                 N64           11.90
2   Mario Kart 64                                  N64            9.87
3   GoldenEye 007                                  N64            8.09
4   The Legend of Zelda: Ocarina of Time           N64            7.60
5   Super Smash Bros.                              N64            5.56
6   Pokemon Stadium                                N64            5.45
7   Donkey Kong 64                                 N64            5.27
8   Diddy Kong Racing                              N64            4.89
9   Star Fox 64                                    N64            4.04
10  Banjo-Kazooie                                  N64            3.65
11  Pokemon Snap                                   N64            3.63
12  The Legend of Zelda: Majora's Mask             N64            3.36
13  Star Wars Episode I Racer                      N64            3.11
14  Wave Race 64                                   N64            2.94
15  Yoshi's Story                                  N64            2.85
16  Pok√©mon Stadium 2                             N64            2.74
17  Mario Party                                    N64            2.70
18  Star Wars: Shadows of the Empire               N64            2.65
19  Perfect Dark                                   N64            2.52
20  Mario Party 2                                  N64            2.51
21  WCW/nWo Revenge                                N64            2.38
22  Mario Tennis                                   N64            2.31
23  Star Wars: Rogue Squadron                      N64            2.17
24  Tony Hawk's Pro Skater                         N64            2.11
25  1080¬∞: TenEighty Snowboarding                 N64            2.04
26  Mario Party 3                                  N64            1.91
27  Turok 2: Seeds of Evil                         N64            1.86
28  Hey You, Pikachu!                              N64            1.82
29  Kirby 64: The Crystal Shards                   N64            1.76
30  Cruis'n USA                                    N64            1.74
⋮   ⋮                                              ⋮             ⋮
287 S.C.A.R.S                                      N64           0.06
288 Virtual Chess 64                               N64           0.06
289 Mike Piazza's Strike Zone                      N64           0.06
290 Bust-A-Move '99                                N64           0.06
291 Star Soldier: Vanishing Earth                  N64           0.06
292 Polaris SnoCross                               N64           0.06
293 NHL Blades of Steel '99                        N64           0.05
294 Blues Brothers 2000                            N64           0.05
295 All Star Tennis 99                             N64           0.05
296 Hercules: The Legendary Journeys               N64           0.05
297 Dual Heroes                                    N64           0.05
298 Fighter Destiny 2                              N64           0.05
299 Chameleon Twist 2                              N64           0.05
300 Turok: Dinosaur Hunter                         N64           0.05
301 Choro Q 64 2: Hacha Mecha Grand Prix Race      N64           0.05
302 NBA in the Zone 2000                           N64           0.04
303 NBA In The Zone '99                            N64           0.04
304 PD Ultraman Battle Collection 64               N64           0.04
305 Monaco Grand Prix                              N64           0.04
306 Worms Armageddon                               N64           0.04
307 Rally Challenge 2000                           N64           0.04
308 Looney Tunes Duck Dodgers Starring: Daffy Duck N64           0.04
309 Deadly Arts                                    N64           0.04
310 Starshot: Space Circus Fever                   N64           0.03
311 Charlie Blasts Territory                       N64           0.03
312 Big Mountain 2000                              N64           0.03
313 Super Bowling                                  N64           0.02
314 Rat Attack!                                    N64           0.02
315 PGA European Tour                              N64           0.01
316 Carmageddon 64                                 N64           0.01
    video_game_segment
1   top_sales
2   top_sales
3   top_sales
4   top_sales
5   top_sales
6   top_sales
7   top_sales
8   not_top_sales
9   not_top_sales
10  not_top_sales
11  not_top_sales
12  not_top_sales
13  not_top_sales
14  not_top_sales
15  not_top_sales
16  not_top_sales
17  not_top_sales
18  not_top_sales
19  not_top_sales
20  not_top_sales
21  not_top_sales
22  not_top_sales
23  not_top_sales
24  not_top_sales
25  not_top_sales
26  not_top_sales
27  not_top_sales
28  not_top_sales
29  not_top_sales
30  not_top_sales
⋮   ⋮
287 not_top_sales
288 not_top_sales
289 not_top_sales
290 not_top_sales
291 not_top_sales
292 not_top_sales
293 not_top_sales
294 not_top_sales
295 not_top_sales
296 not_top_sales
297 not_top_sales
298 not_top_sales
299 not_top_sales
300 not_top_sales
301 not_top_sales
302 not_top_sales
303 not_top_sales
304 not_top_sales
305 not_top_sales
306 not_top_sales
307 not_top_sales
308 not_top_sales
309 not_top_sales
310 not_top_sales
311 not_top_sales
312 not_top_sales
313 not_top_sales
314 not_top_sales
315 not_top_sales
316 not_top_sales

#### EX 1C 
Dataset de Star Wars: ¿cuál es la combinación entre homeworld y species con mayor número de personajes?

Dataset > https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv

In [ ]:
# Importamos df
df_starwars = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv")
glimpse(df_starwars)

Rows: 87
Columns: 10
$ name       <chr> "Mon Mothma", "Yoda", "Tion Medon", "Ratts Tyerell", "Luke …
$ height     <int> 150, 66, 206, 79, 172, 96, 165, 228, 188, 188, 184, 150, 18…
$ mass       <dbl> NA, 17.0, 80.0, 15.0, 77.0, 32.0, 75.0, 112.0, 79.0, 84.0, …
$ hair_color <chr> "auburn", "white", "none", "none", "blond", "", "brown", "b…
$ skin_color <chr> "fair", "green", "grey", "grey & blue", "fair", "white & bl…
$ eye_color  <chr> "blue", "brown", "black", "unknown", "blue", "red", "blue",…
$ birth_year <dbl> 48.0, 896.0, NA, NA, 19.0, 33.0, 47.0, 200.0, NA, 72.0, NA,…
$ gender     <chr> "female", "male", "male", "male", "male", "", "female", "ma…
$ homeworld  <chr> "Chandrila", "", "Utapau", "Aleen Minor", "Tatooine", "Nabo…
$ species    <chr> "Human", "Yoda's species", "Pau'an", "Aleena", "Human", "Dr…

In [ ]:
df_starwars %>% filter(
  !homeworld == ''            # descartamos personajes con homeworld vacío. En este caso, negamos toda la condición "es igual a"
  ,species != ''              # descartamos personaje con species vacío. En este caso, a modo de presentar una opción alternativa, utilizamos el operador "es distinto"
  ) %>% group_by(             # agrupamos por dos variables categóricas
    homeworld
    ,species
  ) %>% summarise(
    total_count = n()         # definimos agregación y utilizamos función de agregación n() para contar observaciones
  ) %>% arrange(
    desc(total_count)         # ordenamos con criterio descendente
  )

`summarise()` has grouped output by 'homeworld'. You can override using the `.groups` argument.

   homeworld      species      total_count
1  Tatooine       Human        8
2  Naboo          Human        5
3  Alderaan       Human        3
4  Naboo          Gungan       3
5  Corellia       Human        2
6  Coruscant      Human        2
7  Kamino         Kaminoan     2
8  Kashyyyk       Wookiee      2
9  Mirial         Mirialan     2
10 Ryloth         Twi'lek      2
11 Tatooine       Droid        2
12 Aleen Minor    Aleena       1
13 Bespin         Human        1
14 Bestine IV     Human        1
15 Cato Neimoidia Neimodian    1
16 Cerea          Cerean       1
17 Champala       Chagrian     1
18 Chandrila      Human        1
19 Concord Dawn   Human        1
20 Coruscant      Tholothian   1
21 Dathomir       Zabrak       1
22 Dorin          Kel Dor      1
23 Endor          Ewok         1
24 Eriadu         Human        1
25 Geonosis       Geonosian    1
26 Glee Anselm    Nautolan     1
27 Haruun Kal     Human        1
28 Iktotch        Iktotchi     1
29 Iridonia       Zabrak       1
30 Kalee          Kaleesh      1
31 Kamino         Human        1
32 Malastare      Dug          1
33 Mon Cala       Mon Calamari 1
34 Muunilinst     Muun         1
35 Naboo          Droid        1
36 Nal Hutta      Hutt         1
37 Ojom           Besalisk     1
38 Quermia        Quermian     1
39 Rodia          Rodian       1
40 Serenno        Human        1
41 Shili          Togruta      1
42 Skako          Skakoan      1
43 Socorro        Human        1
44 Stewjon        Human        1
45 Sullust        Sullustan    1
46 Toydaria       Toydarian    1
47 Trandosha      Trandoshan   1
48 Troiken        Xexto        1
49 Tund           Toong        1
50 Utapau         Pau'an       1
51 Vulpter        Vulptereen   1
52 Zolan          Clawdite     1

### 2. OPERACIONES AVANZADAS CON dplyr
---

#### EX 2A 
Extrear el top 10 directores con mayor media de IMDB score. Incluir únicamente directores con más de 5 películas dirigidas.

Dataset > https://data-wizards.s3.amazonaws.com/datasets/movies.csv

In [ ]:
# Importamos df
df_movies = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/movies.csv")
glimpse(df_movies)

Rows: 4,916
Columns: 28
$ color                     <chr> "Color", "Color", "Color", "Color", "", "Col…
$ director_name             <chr> "James Cameron", "Gore Verbinski", "Sam Mend…
$ num_critic_for_reviews    <int> 723, 302, 602, 813, NA, 462, 392, 324, 635, …
$ duration                  <int> 178, 169, 148, 164, NA, 132, 156, 100, 141, …
$ director_facebook_likes   <int> 0, 563, 0, 22000, 131, 475, 0, 15, 0, 282, 0…
$ actor_3_facebook_likes    <int> 855, 1000, 161, 23000, NA, 530, 4000, 284, 1…
$ actor_2_name              <chr> "Joel David Moore", "Orlando Bloom", "Rory K…
$ actor_1_facebook_likes    <int> 1000, 40000, 11000, 27000, 131, 640, 24000, …
$ gross                     <dbl> 760505847, 309404152, 200074175, 448130642, …
$ genres                    <chr> "Action|Adventure|Fantasy|Sci-Fi", "Action|A…
$ actor_1_name              <chr> "CCH Pounder", "Johnny Depp", "Christoph Wal…
$ movie_title               <chr> "Avatar", "Pirates of the Caribbean: At Worl…
$ num_voted_users           <int> 886204, 471220, 275868, 1144337, 8, 212204, …
$ cast_total_facebook_likes <int> 4834, 48350, 11700, 106759, 143, 1873, 46055…
$ actor_3_name              <chr> "Wes Studi", "Jack Davenport", "Stephanie Si…
$ facenumber_in_poster      <int> 0, 0, 1, 0, 0, 1, 0, 1, 4, 3, 0, 0, 1, 2, 1,…
$ plot_keywords             <chr> "avatar|future|marine|native|paraplegic", "g…
$ movie_imdb_link           <chr> "http://www.imdb.com/title/tt0499549/?ref_=f…
$ num_user_for_reviews      <int> 3054, 1238, 994, 2701, NA, 738, 1902, 387, 1…
$ language                  <chr> "English", "English", "English", "English", …
$ country                   <chr> "USA", "USA", "UK", "USA", "", "USA", "USA",…
$ content_rating            <chr> "PG-13", "PG-13", "PG-13", "PG-13", "", "PG-…
$ budget                    <dbl> 237000000, 300000000, 245000000, 250000000, …
$ title_year                <int> 2009, 2007, 2015, 2012, NA, 2012, 2007, 2010…
$ actor_2_facebook_likes    <int> 936, 5000, 393, 23000, 12, 632, 11000, 553, …
$ imdb_score                <dbl> 7.9, 7.1, 6.8, 8.5, 7.1, 6.6, 6.2, 7.8, 7.5,…
$ aspect_ratio              <dbl> 1.78, 2.35, 2.35, 2.35, NA, 2.35, 2.35, 1.85…
$ movie_facebook_likes      <int> 33000, 0, 85000, 164000, 0, 24000, 0, 29000,…

In [ ]:
# 2A
aux = df_movies %>% group_by(
    director_name
  ) %>% summarise(
    total_movies = n()
  ) %>% filter(
    !director_name %in% ''
    ,total_movies>5
  )

df_movies %>% filter(
    director_name %in% aux$director_name
  ) %>% group_by(
    director_name
  ) %>% summarise(
    mean_imdb_score = round(mean(imdb_score),2)
  ) %>% arrange(
    desc(mean_imdb_score)
  ) %>% head(10)

   director_name         mean_imdb_score
1  Christopher Nolan     8.43
2  Quentin Tarantino     8.20
3  Stanley Kubrick       8.05
4  James Cameron         7.91
5  Peter Jackson         7.89
6  Alejandro G. Iñárritu 7.78
7  David Fincher         7.75
8  Martin Scorsese       7.66
9  Wes Anderson          7.63
10 Paul Greengrass       7.59

#### EX 2B 
La tabla de datos *employees* contiene información sobre empleados en EEUU. Manipular la información para evaluar si hay diferencias en salarios entre empleados blancos (*race White*)  y el resto.

| POSITION_TITLE         | white_salary | salary_excl_white | delta |
|------------------------|--------------|-------------------|-------|
|   ACCOUNTANT ASSOCIATE | 35027        | 38334          | -0.09 |
| ADMINISTRATION MANAGER | 77181        | 82321          | -0.07 |
| ...                    | ...          | ...               | ...   |


Dataset > https://data-wizards.s3.amazonaws.com/datasets/employees.csv

In [ ]:
# Importamos df
df_employees = fread("https://data-wizards.s3.amazonaws.com/datasets/employees.csv")
glimpse(df_employees)

Rows: 2,000
Columns: 10
$ UNIQUE_ID         <int> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15…
$ POSITION_TITLE    <chr> "ASSISTANT DIRECTOR (EX LVL)", "LIBRARY ASSISTANT", …
$ DEPARTMENT        <chr> "Municipal Courts Department", "Library", "Houston P…
$ BASE_SALARY       <dbl> 121862, 26125, 45279, 63166, 56347, 66614, 71680, 42…
$ RACE              <chr> "Hispanic/Latino", "Hispanic/Latino", "White", "Whit…
$ EMPLOYMENT_TYPE   <chr> "Full Time", "Full Time", "Full Time", "Full Time", …
$ GENDER            <chr> "Female", "Female", "Male", "Male", "Male", "Male", …
$ EMPLOYMENT_STATUS <chr> "Active", "Active", "Active", "Active", "Active", "A…
$ HIRE_DATE         <date> 2006-06-12, 2000-07-19, 2015-02-03, 1982-02-08, 198…
$ JOB_DATE          <date> 2012-10-13, 2010-09-18, 2015-02-03, 1991-05-25, 199…

In [ ]:
df_employees$RACE %>% table()

.
                                  American Indian or Alaskan Native
                               35                                11
           Asian/Pacific Islander         Black or African American
                              107                               700
                  Hispanic/Latino                            Others
                              480                                 2
                            White
                              665

In [ ]:
# 2B
df_employees %>% filter(
  EMPLOYMENT_STATUS == 'Active'
  ,EMPLOYMENT_TYPE == 'Full Time'
) %>% group_by(
  POSITION_TITLE
) %>% summarise(
  white_salary = mean(BASE_SALARY[df_employees$RACE == 'White'],na.rm = TRUE)
  ,salary_excl_white = mean(BASE_SALARY[!df_employees$RACE == 'White'],na.rm = TRUE)
) %>% filter(
  !white_salary %in% NaN
) %>% mutate(
  delta = round((white_salary-salary_excl_white)/white_salary,2)
)

    POSITION_TITLE                           white_salary salary_excl_white
1   9-1-1 TELECOMMUNICATOR                    34611.25     34060.00
2   ACCOUNTANT ASSOCIATE                      35027.00     38334.50
3   ADMINISTRATION MANAGER                    77181.00     82321.20
4   ADMINISTRATIVE AIDE                       31637.00     33373.50
5   ADMINISTRATIVE ASSISTANT                  42940.55     45949.53
6   ADMINISTRATIVE ASSOCIATE                  35771.80     34961.33
7   ADMINISTRATIVE COORDINATOR                67641.20     63989.00
8   ADMINISTRATIVE SPECIALIST                 52317.88     52556.07
9   ADMINISTRATIVE SUPERVISOR                 54670.00     58956.00
10  AIRPORT OPERATIONS ASSISTANT              35616.67     35422.50
11  AIRPORT OPERATIONS COORDINATOR            51501.00     48058.50
12  AIRPORT OPERATIONS SPECIALIST             46543.67     45541.75
13  ANIMAL CARE TECHNICIAN                    30098.00     28725.00
14  ASSISTANT DIRECTOR (EXECUTIVE LEVEL)     125096.33    125666.00
15  BREASTFEEDING PEER COUNSELOR              27310.00     28600.00
16  CAPTAIN                                   68459.59     67986.20
17  CARPENTER                                 40653.50     41236.00
18  CODE ENFORCEMENT OFFICER II               43742.00     46217.50
19  COMMUNICATIONS CAPTAIN                    67742.33     68352.00
20  COMMUNITY LIAISON                         49379.00     48703.00
21  COUNSELOR                                 45136.00     45344.00
22  CUSTODIAN                                 26125.00     26204.67
23  CUSTOMER SERVICE CLERK                    30264.00     29469.00
24  CUSTOMER SERVICE REPRESENTATIVE I         30607.00     32532.69
25  CUSTOMER SERVICE REPRESENTATIVE II        33912.20     37623.55
26  CUSTOMER SERVICE REPRESENTATIVE III       40176.71     40041.62
27  CUSTOMER SERVICE SECTION CHIEF            55141.00     53341.50
28  CUSTOMER SERVICE SUPERVISOR               47247.50     44398.00
29  DATA ENTRY OPERATOR                       26554.67     28860.00
30  DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV 102969.33    107246.00
⋮   ⋮                                        ⋮            ⋮
96  SENIOR LIBRARY SERVICE SPECIALIST        38563.00     38563.00
97  SENIOR MICROCOMPUTER ANALYST             62456.50     64941.00
98  SENIOR OFFICE ASSISTANT                  29931.00     32521.00
99  SENIOR PARALEGAL                         55786.00     61152.00
100 SENIOR PLAN ANALYST                      53092.00     55671.00
101 SENIOR PLANT OPERATOR                    46238.00     45926.00
102 SENIOR POLICE OFFICER                    65799.08     65962.07
103 SENIOR POLICE SERVICE OFFICER            30888.00     32375.50
104 SENIOR POLICE TELECOMMUNICATOR           43722.00     49504.00
105 SENIOR PROCUREMENT SPECIALIST            77535.00     74330.00
106 SENIOR PROJECT MANAGER                   83489.00     83388.67
107 SENIOR PUBLIC HEALTH INVESTIGATOR        43493.00     38750.50
108 SENIOR REFUSE TRUCK DRIVER               32579.67     34361.67
109 SENIOR SIDELOADER OPERATOR               36799.20     36319.11
110 SENIOR STAFF ANALYST                     97356.00     87107.75
111 SENIOR UTILITY MECHANIC                  37315.33     37414.25
112 SPECIAL SERVICE REPRESENTATIVE           33789.50     35297.50
113 STAFF ANALYST                            75844.60     70003.20
114 STAFF EPIDEMIOLOGIST                     50266.50     59950.50
115 SUPERINTENDENT                           63648.00     65083.25
116 SUPERVISING ENGINEER                     97664.75     95966.50
117 SURVEILLANCE INVESTIGATOR-EPIDEMIOLOGY   45146.50     46634.00
118 SYSTEMS SUPPORT ANALYST IV               76124.00     73501.00
119 TECHNICAL HARDWARE ANALYST I             41253.67     42047.50
120 TECHNICAL HARDWARE ANALYST II            50842.00     54406.00
121 TECHNICAL HARDWARE ANALYST III           57234.67     58885.00
122 UTILITY MECHANIC                         30597.00     30597.00
123 UTILITY WORKER                           33222.81     33243.67
124 WATER SERVICE INSPECTOR I                32240.00     33550.50
125 WEB DESIGNER                             60840.00     57710.00
    delta
1    0.02
2   -0.09
3   -0.07
4   -0.05
5   -0.07
6    0.02
7    0.05
8    0.00
9   -0.08
10   0.01
11   0.07
12   0.02
13   0.05
14   0.00
15  -0.05
16   0.01
17  -0.01
18  -0.06
19  -0.01
20   0.01
21   0.00
22   0.00
23   0.03
24  -0.06
25  -0.11
26   0.00
27   0.03
28   0.06
29  -0.09
30  -0.04
⋮   ⋮
96   0.00
97  -0.04
98  -0.09
99  -0.10
100 -0.05
101  0.01
102  0.00
103 -0.05
104 -0.13
105  0.04
106  0.00
107  0.11
108 -0.05
109  0.01
110  0.11
111  0.00
112 -0.04
113  0.08
114 -0.19
115 -0.02
116  0.02
117 -0.03
118  0.03
119 -0.02
120 -0.07
121 -0.03
122  0.00
123  0.00
124 -0.04
125  0.05