# ÍNDICE
# **ISDI MDA**
# R - Ejercicios de Repaso
---
Este *notebook* ha sido elaborado como guía práctica para el curso introductorio en R. 

### ÍNDICE DE CONTENIDO
1. OPERACIONES BÁSICAS CON DATAFRAMES
2. MANIPULACIÓN BÁSICA

### Profesor: Juan Martin Bellido (jmbelldo@isdi.education)

### 1. OPERACIONES BÁSICAS CON DATAFRAMES
---

In [ ]:
# Cargamos todas las librerías que utilizaremos en la sesión
require(data.table)
require(dplyr)

#### EX 1A
Realizar las siguientes operaciones *sin utilizar la librería dplyr*: 
*   Importar dataframe
*   Seleccionar columnas: "Company", "Sector" y "Revenue"
*   Crear una nueva columna "Profits_per_Employee" como operación entre las columnas "Profits" y "Employees"

Dataset > https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv

In [ ]:
# Importamos df
df_fortune = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv")
glimpse(df_fortune)

Rows: 1,000
Columns: 8
$ Rank      <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1…
$ Company   <chr> "Walmart", "Exxon Mobil", "Apple", "Berkshire Hathaway", "Mc…
$ Sector    <chr> "Retailing", "Energy", "Technology", "Financials", "Health C…
$ Industry  <chr> "General Merchandisers", "Petroleum Refining", "Computers, O…
$ Location  <chr> "Bentonville, AR", "Irving, TX", "Cupertino, CA", "Omaha, NE…
$ Revenue   <int> 482130, 246204, 233715, 210821, 181241, 157107, 153290, 1523…
$ Profits   <int> 14694, 16150, 53394, 24083, 1476, 5813, 5237, 9687, 7373, 13…
$ Employees <int> 2300000, 75600, 110000, 331000, 70400, 200000, 199000, 21500…

In [ ]:
# Seleccionar tres columnas
df_fortune[,c('Company','Sector','Revenue')]

     Company                           Sector                       Revenue
1    Walmart                           Retailing                    482130
2    Exxon Mobil                       Energy                       246204
3    Apple                             Technology                   233715
4    Berkshire Hathaway                Financials                   210821
5    McKesson                          Health Care                  181241
6    UnitedHealth Group                Health Care                  157107
7    CVS Health                        Food and Drug Stores         153290
8    General Motors                    Motor Vehicles & Parts       152356
9    Ford Motor                        Motor Vehicles & Parts       149558
10   AT&T                              Telecommunications           146801
11   General Electric                  Industrials                  140389
12   AmerisourceBergen                 Health Care                  135962
13   Verizon                           Telecommunications           131620
14   Chevron                           Energy                       131118
15   Costco                            Retailing                    116199
16   Fannie Mae                        Financials                   110359
17   Kroger                            Food and Drug Stores         109830
18   Amazon.com                        Technology                   107006
19   Walgreens Boots Alliance          Food and Drug Stores         103444
20   HP                                Technology                   103355
21   Cardinal Health                   Health Care                  102531
22   Express Scripts Holding           Health Care                  101752
23   J.P. Morgan Chase                 Financials                   101006
24   Boeing                            Aerospace & Defense           96114
25   Microsoft                         Technology                    93580
26   Bank of America Corp.             Financials                    93056
27   Wells Fargo                       Financials                    90033
28   Home Depot                        Retailing                     88519
29   Citigroup                         Financials                    88275
30   Phillips 66                       Energy                        87169
⋮    ⋮                                 ⋮                            ⋮
971  VeriFone Systems                  Technology                   2001
972  Genesee & Wyoming                 Transportation               2000
973  99 Cents Only Stores              Retailing                    1999
974  Roadrunner Transportation Systems Transportation               1995
975  Super Micro Computer              Technology                   1991
976  First Republic Bank               Financials                   1989
977  Hill-Rom Holdings                 Health Care                  1988
978  Providence Service                Health Care                  1987
979  Allison Transmission Holdings     Motor Vehicles & Parts       1986
980  Spire                             Energy                       1976
981  WPX Energy                        Energy                       1958
982  Century Aluminum                  Materials                    1950
983  Adams Resources & Energy          Energy                       1944
984  Nuance Communications             Technology                   1931
985  Primoris Services                 Engineering & Construction   1929
986  Schnitzer Steel Industries        Materials                    1924
987  Delta Tucker Holdings             Aerospace & Defense          1923
988  Hospitality Properties Trust      Financials                   1922
989  Cenveo                            Media                        1921
990  F5 Networks                       Technology                   1920
991  BlueLinx Holdings                 Wholesalers                  1917
992  Revlon                            Household Products           1914
993  DeVry Education Group             Business Services            1910
994  MDC Holdings                      Engineering & Construction   1909
995  EP Energy                         Energy                       1908
996  New York Community Bancorp        Financials                   1902
997  Portland General Electric         Energy                       1898
998  Portland General Electric         Energy                       1898
999  Wendy’s                           Hotels, Resturants & Leisure 1896
1000 Briggs & Stratton                 Industrials                  1895

In [ ]:
df_fortune$"profits_per_employee" = df_fortune$Profits / df_fortune$Employees
head(df_fortune)

  Rank Company            Sector      Industry
1 1    Walmart            Retailing   General Merchandisers
2 2    Exxon Mobil        Energy      Petroleum Refining
3 3    Apple              Technology  Computers, Office Equipment
4 4    Berkshire Hathaway Financials  Insurance: Property and Casualty (Stock)
5 5    McKesson           Health Care Wholesalers: Health Care
6 6    UnitedHealth Group Health Care Health Care: Insurance and Managed Care
  Location          Revenue Profits Employees profits_per_employee
1 Bentonville, AR   482130  14694   2300000   0.006388696
2 Irving, TX        246204  16150     75600   0.213624339
3 Cupertino, CA     233715  53394    110000   0.485400000
4 Omaha, NE         210821  24083    331000   0.072758308
5 San Francisco, CA 181241   1476     70400   0.020965909
6 Minnetonka, MN    157107   5813    200000   0.029065000

In [ ]:
# Cambiamos nombre de una columna
colnames(df_fortune)[6] = 'Company_Revenue'
glimpse(df_fortune)

Rows: 1,000
Columns: 9
$ Rank                 <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15…
$ Company              <chr> "Walmart", "Exxon Mobil", "Apple", "Berkshire Hat…
$ Sector               <chr> "Retailing", "Energy", "Technology", "Financials"…
$ Industry             <chr> "General Merchandisers", "Petroleum Refining", "C…
$ Location             <chr> "Bentonville, AR", "Irving, TX", "Cupertino, CA",…
$ Company_Revenue      <int> 482130, 246204, 233715, 210821, 181241, 157107, 1…
$ Profits              <int> 14694, 16150, 53394, 24083, 1476, 5813, 5237, 968…
$ Employees            <int> 2300000, 75600, 110000, 331000, 70400, 200000, 19…
$ profits_per_employee <dbl> 0.006388696, 0.213624339, 0.485400000, 0.07275830…

#### EX 1B
Utilizar comandos de R Base (no utilizar dplyr) para seleccionar películas de James Bond entre 1980 y 1999; también aquellas cuyo actor sea Sean Connery. Exportar resultado en formato csv.

Dataset > https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv

In [ ]:
# Importamos df
df_james_bond = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
glimpse(df_james_bond)

Rows: 26
Columns: 7
$ Film                <chr> "Dr. No", "From Russia with Love", "Goldfinger", "…
$ Year                <int> 1962, 1963, 1964, 1965, 1967, 1967, 1969, 1971, 19…
$ Actor               <chr> "Sean Connery", "Sean Connery", "Sean Connery", "S…
$ Director            <chr> "Terence Young", "Terence Young", "Guy Hamilton", …
$ `Box Office`        <dbl> 448.8, 543.8, 820.4, 848.1, 315.0, 514.2, 291.5, 4…
$ Budget              <dbl> 7.0, 12.6, 18.6, 41.9, 85.0, 59.9, 37.3, 34.7, 30.…
$ `Bond Actor Salary` <dbl> 0.6, 1.6, 3.2, 4.7, NA, 4.4, 0.6, 5.8, NA, NA, NA,…

In [ ]:
# Solución
cond_1 = df_james_bond$Year >= 1980
cond_2 = df_james_bond$Year < 2000
cond_3 = df_james_bond$Actor == 'Sean Connery'

df = df_james_bond[(cond_1 & cond_2)|cond_3,] # observar que la primera condición se compone de dos (sub)condiciones: cond_1 y cond_2
df # invocamos objeto

   Film                    Year Actor          Director           Box Office
1  Dr. No                  1962 Sean Connery   Terence Young      448.8
2  From Russia with Love   1963 Sean Connery   Terence Young      543.8
3  Goldfinger              1964 Sean Connery   Guy Hamilton       820.4
4  Thunderball             1965 Sean Connery   Terence Young      848.1
5  You Only Live Twice     1967 Sean Connery   Lewis Gilbert      514.2
6  Diamonds Are Forever    1971 Sean Connery   Guy Hamilton       442.5
7  For Your Eyes Only      1981 Roger Moore    John Glen          449.4
8  Never Say Never Again   1983 Sean Connery   Irvin Kershner     380.0
9  Octopussy               1983 Roger Moore    John Glen          373.8
10 A View to a Kill        1985 Roger Moore    John Glen          275.2
11 The Living Daylights    1987 Timothy Dalton John Glen          313.5
12 Licence to Kill         1989 Timothy Dalton John Glen          250.9
13 GoldenEye               1995 Pierce Brosnan Martin Campbell    518.5
14 Tomorrow Never Dies     1997 Pierce Brosnan Roger Spottiswoode 463.2
15 The World Is Not Enough 1999 Pierce Brosnan Michael Apted      439.5
   Budget Bond Actor Salary
1    7.0   0.6
2   12.6   1.6
3   18.6   3.2
4   41.9   4.7
5   59.9   4.4
6   34.7   5.8
7   60.2    NA
8   86.0    NA
9   53.9   7.8
10  54.5   9.1
11  68.8   5.2
12  56.7   7.9
13  76.9   5.1
14 133.9  10.0
15 158.3  13.5

In [ ]:
# exportamos a directorio de trabajo
write_csv(df,"output.csv")

#### EX 1C 
Ejercicios:
*   Importar dataframe. Seleccionar las primeras 10 filas para las primeras tres columnas del dataframe
*   Seleccionar películas producidas fuera de USA, con IMDB score mayor a 8 y dirigidas por alguno de lo siguientes directores: James Cameron, Peter Jackson, Tim Burton

Dataset > https://data-wizards.s3.amazonaws.com/datasets/movies.csv

In [ ]:
# Importamos df
df_movies = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/movies.csv")
glimpse(df_movies)

Rows: 4,916
Columns: 28
$ color                     <chr> "Color", "Color", "Color", "Color", "", "Col…
$ director_name             <chr> "James Cameron", "Gore Verbinski", "Sam Mend…
$ num_critic_for_reviews    <int> 723, 302, 602, 813, NA, 462, 392, 324, 635, …
$ duration                  <int> 178, 169, 148, 164, NA, 132, 156, 100, 141, …
$ director_facebook_likes   <int> 0, 563, 0, 22000, 131, 475, 0, 15, 0, 282, 0…
$ actor_3_facebook_likes    <int> 855, 1000, 161, 23000, NA, 530, 4000, 284, 1…
$ actor_2_name              <chr> "Joel David Moore", "Orlando Bloom", "Rory K…
$ actor_1_facebook_likes    <int> 1000, 40000, 11000, 27000, 131, 640, 24000, …
$ gross                     <dbl> 760505847, 309404152, 200074175, 448130642, …
$ genres                    <chr> "Action|Adventure|Fantasy|Sci-Fi", "Action|A…
$ actor_1_name              <chr> "CCH Pounder", "Johnny Depp", "Christoph Wal…
$ movie_title               <chr> "Avatar", "Pirates of the Caribbean: At Worl…
$ num_voted_users           <int> 886204, 471220, 275868, 1144337, 8, 212204, …
$ cast_total_facebook_likes <int> 4834, 48350, 11700, 106759, 143, 1873, 46055…
$ actor_3_name              <chr> "Wes Studi", "Jack Davenport", "Stephanie Si…
$ facenumber_in_poster      <int> 0, 0, 1, 0, 0, 1, 0, 1, 4, 3, 0, 0, 1, 2, 1,…
$ plot_keywords             <chr> "avatar|future|marine|native|paraplegic", "g…
$ movie_imdb_link           <chr> "http://www.imdb.com/title/tt0499549/?ref_=f…
$ num_user_for_reviews      <int> 3054, 1238, 994, 2701, NA, 738, 1902, 387, 1…
$ language                  <chr> "English", "English", "English", "English", …
$ country                   <chr> "USA", "USA", "UK", "USA", "", "USA", "USA",…
$ content_rating            <chr> "PG-13", "PG-13", "PG-13", "PG-13", "", "PG-…
$ budget                    <dbl> 237000000, 300000000, 245000000, 250000000, …
$ title_year                <int> 2009, 2007, 2015, 2012, NA, 2012, 2007, 2010…
$ actor_2_facebook_likes    <int> 936, 5000, 393, 23000, 12, 632, 11000, 553, …
$ imdb_score                <dbl> 7.9, 7.1, 6.8, 8.5, 7.1, 6.6, 6.2, 7.8, 7.5,…
$ aspect_ratio              <dbl> 1.78, 2.35, 2.35, 2.35, NA, 2.35, 2.35, 1.85…
$ movie_facebook_likes      <int> 33000, 0, 85000, 164000, 0, 24000, 0, 29000,…

In [ ]:
# Seleccionamos filas y columnas utilizando rangos
df_movies[1:10,1:3]

   color director_name     num_critic_for_reviews
1  Color James Cameron     723
2  Color Gore Verbinski    302
3  Color Sam Mendes        602
4  Color Christopher Nolan 813
5        Doug Walker        NA
6  Color Andrew Stanton    462
7  Color Sam Raimi         392
8  Color Nathan Greno      324
9  Color Joss Whedon       635
10 Color David Yates       375

In [ ]:
# Filtramos filas y columnas
cond_1 = df_movies$country == 'USA'
cond_2 = df_movies$imdb_score > 8
cond_3 = df_movies$director_name %in% c("James Cameron", "Peter Jackson", "Tim Burton")

df_movies[-cond_1 & cond_2 & cond_3,c('movie_title','director_name','imdb_score')]

  movie_title                                   director_name imdb_score
1 Terminator 2: Judgment Day                    James Cameron 8.5
2 The Lord of the Rings: The Return of the King Peter Jackson 8.9
3 The Lord of the Rings: The Two Towers         Peter Jackson 8.7
4 Aliens                                        James Cameron 8.4

### 2. MANIPULACIÓN BÁSICA
---

In [ ]:
# Cargamos todas las librerías que utilizaremos en la sesión
require(data.table)
require(dplyr)

Loading required package: data.table

Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:data.table’:

    between, first, last


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

#### EX 2A 
Seleccionar las top 10 películas de Sci-Fi, según IMDB Score.

Dataset > https://data-wizards.s3.amazonaws.com/datasets/movies.csv

In [ ]:
# Importamos df
df_movies = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/movies.csv")
glimpse(df_movies)

Rows: 4,916
Columns: 28
$ color                     <chr> "Color", "Color", "Color", "Color", "", "Col…
$ director_name             <chr> "James Cameron", "Gore Verbinski", "Sam Mend…
$ num_critic_for_reviews    <int> 723, 302, 602, 813, NA, 462, 392, 324, 635, …
$ duration                  <int> 178, 169, 148, 164, NA, 132, 156, 100, 141, …
$ director_facebook_likes   <int> 0, 563, 0, 22000, 131, 475, 0, 15, 0, 282, 0…
$ actor_3_facebook_likes    <int> 855, 1000, 161, 23000, NA, 530, 4000, 284, 1…
$ actor_2_name              <chr> "Joel David Moore", "Orlando Bloom", "Rory K…
$ actor_1_facebook_likes    <int> 1000, 40000, 11000, 27000, 131, 640, 24000, …
$ gross                     <dbl> 760505847, 309404152, 200074175, 448130642, …
$ genres                    <chr> "Action|Adventure|Fantasy|Sci-Fi", "Action|A…
$ actor_1_name              <chr> "CCH Pounder", "Johnny Depp", "Christoph Wal…
$ movie_title               <chr> "Avatar", "Pirates of the Caribbean: At Worl…
$ num_voted_users           <int> 886204, 471220, 275868, 1144337, 8, 212204, …
$ cast_total_facebook_likes <int> 4834, 48350, 11700, 106759, 143, 1873, 46055…
$ actor_3_name              <chr> "Wes Studi", "Jack Davenport", "Stephanie Si…
$ facenumber_in_poster      <int> 0, 0, 1, 0, 0, 1, 0, 1, 4, 3, 0, 0, 1, 2, 1,…
$ plot_keywords             <chr> "avatar|future|marine|native|paraplegic", "g…
$ movie_imdb_link           <chr> "http://www.imdb.com/title/tt0499549/?ref_=f…
$ num_user_for_reviews      <int> 3054, 1238, 994, 2701, NA, 738, 1902, 387, 1…
$ language                  <chr> "English", "English", "English", "English", …
$ country                   <chr> "USA", "USA", "UK", "USA", "", "USA", "USA",…
$ content_rating            <chr> "PG-13", "PG-13", "PG-13", "PG-13", "", "PG-…
$ budget                    <dbl> 237000000, 300000000, 245000000, 250000000, …
$ title_year                <int> 2009, 2007, 2015, 2012, NA, 2012, 2007, 2010…
$ actor_2_facebook_likes    <int> 936, 5000, 393, 23000, 12, 632, 11000, 553, …
$ imdb_score                <dbl> 7.9, 7.1, 6.8, 8.5, 7.1, 6.6, 6.2, 7.8, 7.5,…
$ aspect_ratio              <dbl> 1.78, 2.35, 2.35, 2.35, NA, 2.35, 2.35, 1.85…
$ movie_facebook_likes      <int> 33000, 0, 85000, 164000, 0, 24000, 0, 29000,…

In [ ]:
# Utilizamos dplyr para seleccionar top 10 películas de Sci-Fi
df_movies %>% filter(
  grepl('Sci-Fi',genres) 
) %>% select(
  movie_title
  ,imdb_score
  ,director_name
  ,genres
) %>% head(10)

   movie_title                        imdb_score director_name
1  Avatar                             7.9        James Cameron
2  John Carter                        6.6        Andrew Stanton
3  Avengers: Age of Ultron            7.5        Joss Whedon
4  Batman v Superman: Dawn of Justice 6.9        Zack Snyder
5  Superman Returns                   6.1        Bryan Singer
6  Man of Steel                       7.2        Zack Snyder
7  The Avengers                       8.1        Joss Whedon
8  Men in Black 3                     6.8        Barry Sonnenfeld
9  Captain America: Civil War         8.2        Anthony Russo
10 Battleship                         5.9        Peter Berg
   genres
1  Action|Adventure|Fantasy|Sci-Fi
2  Action|Adventure|Sci-Fi
3  Action|Adventure|Sci-Fi
4  Action|Adventure|Sci-Fi
5  Action|Adventure|Sci-Fi
6  Action|Adventure|Fantasy|Sci-Fi
7  Action|Adventure|Sci-Fi
8  Action|Adventure|Comedy|Family|Fantasy|Sci-Fi
9  Action|Adventure|Sci-Fi
10 Action|Adventure|Sci-Fi|Thriller

#### EX 2B 
Filtrar por películas de acción, crear un segmento para identificar películas del cuartil superior (top 75%) según IMDB score ("top movies") vs. el resto ("not top movies"). 

Dataset > https://data-wizards.s3.amazonaws.com/datasets/movies.csv

In [ ]:
# Importamos df
df_movies = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/movies.csv")
glimpse(df_movies)

In [ ]:
# Utilizamos dplyr para crear un segmento
dist_75 = df_movies[grepl('Action',genres),"imdb_score"]$imdb_score %>% quantile(0.75)

df_movies %>% mutate(
  segment = case_when(
    imdb_score >= dist_75 ~ 'top action movie'
    ,TRUE == TRUE ~ 'not top action movie'
  )
) %>% filter(
  grepl('Action',genres)
) %>% select(
  movie_title
  ,director_name
  ,imdb_score
  ,segment
) %>% arrange(desc(imdb_score))

     movie_title                                       director_name
1    Kickboxer: Vengeance                              John Stockwell
2    The Dark Knight                                   Christopher Nolan
3    The Lord of the Rings: The Return of the King     Peter Jackson
4    Inception                                         Christopher Nolan
5    The Lord of the Rings: The Fellowship of the Ring Peter Jackson
6    Daredevil
7    Star Wars: Episode V - The Empire Strikes Back    Irvin Kershner
8    The Lord of the Rings: The Two Towers             Peter Jackson
9    The Matrix                                        Lana Wachowski
10   Star Wars: Episode IV - A New Hope                George Lucas
11   Queen of the Mountains                            Sadyk Sher-Niyaz
12   Seven Samurai                                     Akira Kurosawa
13   Saving Private Ryan                               Steven Spielberg
14   Spartacus: War of the Damned
15   The Dark Knight Rises                             Christopher Nolan
16   Gladiator                                         Ridley Scott
17   Terminator 2: Judgment Day                        James Cameron
18   Raiders of the Lost Ark                           Steven Spielberg
19   Airlift                                           Raja Menon
20   Stargate SG-1
21   Baahubali: The Beginning                          S.S. Rajamouli
22   Star Wars: Episode VI - Return of the Jedi        Richard Marquand
23   Aliens                                            James Cameron
24   Batman: The Dark Knight Returns, Part 2           Jay Oliva
25   Batman Begins                                     Christopher Nolan
26   Indiana Jones and the Last Crusade                Steven Spielberg
27   Captain America: Civil War                        Anthony Russo
28   Godzilla Resurgence                               Hideaki Anno
29   V for Vendetta                                    James McTeigue
30   Die Hard                                          John McTiernan
⋮    ⋮                                                 ⋮
1084 Dragon Wars: D-War                                Hyung-rae Shim
1085 Spy Kids: All the Time in the World in 4D         Robert Rodriguez
1086 Superman IV: The Quest for Peace                  Sidney J. Furie
1087 Wind Walkers                                      Russell Friedenberg
1088 Echo Dr.                                          Patrick Ryan Sims
1089 The Adventures of Sharkboy and Lavagirl 3-D       Robert Rodriguez
1090 Dance Flick                                       Damien Dante Wayans
1091 Megaforce                                         Hal Needham
1092 The Omega Code                                    Robert Marcarelli
1093 Chain of Command                                  Kevin Carraway
1094 Zombie Hunter                                     K. King
1095 Navy Seals vs. Zombies                            Stanton Barrett
1096 Independence Daysaster                            W.D. Hogan
1097 Catwoman                                          Pitof
1098 In the Name of the King: The Last Job             Uwe Boll
1099 Legend of Kung Fu Rabbit                          Lijun Sun
1100 Royal Kill                                        Babar Ahmed
1101 Left Behind                                       Vic Armstrong
1102 Checkmate                                         Timothy Woodward Jr.
1103 Rollerball                                        John McTiernan
1104 The Dead Undead                                   Matthew R. Anderson
1105 BloodRayne                                        Uwe Boll
1106 Steel                                             Kenneth Johnson
1107 Hum To Mohabbat Karega                            Kundan Shah
1108 Dragonball: Evolution                             James Wong
1109 Battlefield Earth                                 Roger Christian
1110 Subconscious                                      Georgia Hilton
1111 Crossover                                         Preston A. Whitmore II
1112 The Helix... Loaded                               A. Raven Cruz
1113 Foodfight!                                        Lawrence Kasanoff
     imdb_score segment
1    9.1        top action movie
2    9.0        top action movie
3    8.9        top action movie
4    8.8        top action movie
5    8.8        top action movie
6    8.8        top action movie
7    8.8        top action movie
8    8.7        top action movie
9    8.7        top action movie
10   8.7        top action movie
11   8.7        top action movie
12   8.7        top action movie
13   8.6        top action movie
14   8.6        top action movie
15   8.5        top action movie
16   8.5        top action movie
17   8.5        top action movie
18   8.5        top action movie
19   8.5        top action movie
20   8.4        top action movie
21   8.4        top action movie
22   8.4        top action movie
23   8.4        top action movie
24   8.4        top action movie
25   8.3        top action movie
26   8.3        top action movie
27   8.2        top action movie
28   8.2        top action movie
29   8.2        top action movie
30   8.2        top action movie
⋮    ⋮          ⋮
1084 3.6        not top action movie
1085 3.6        not top action movie
1086 3.6        not top action movie
1087 3.6        not top action movie
1088 3.6        not top action movie
1089 3.5        not top action movie
1090 3.5        not top action movie
1091 3.5        not top action movie
1092 3.5        not top action movie
1093 3.5        not top action movie
1094 3.5        not top action movie
1095 3.4        not top action movie
1096 3.4        not top action movie
1097 3.3        not top action movie
1098 3.3        not top action movie
1099 3.2        not top action movie
1100 3.2        not top action movie
1101 3.1        not top action movie
1102 3.1        not top action movie
1103 3.0        not top action movie
1104 3.0        not top action movie
1105 2.9        not top action movie
1106 2.8        not top action movie
1107 2.8        not top action movie
1108 2.7        not top action movie
1109 2.4        not top action movie
1110 2.2        not top action movie
1111 2.1        not top action movie
1112 1.9        not top action movie
1113 1.7        not top action movie

#### EX 2C 
##### Crear un nuevo campo ("company_size") que segmente a las empresas según cantidad de empleados según el siguiente criterio,

*   *small*, cuando la cantidad de empleados sea menor a 10000
*   *medium*, cuando la cantidad de empleados sea mayor a 10000 y menor a 100000
*   *big*, cuando la cantidad de empleados sea mayor a 100000

##### Calcular mediana de ganancias (profits), según (i) sector y (ii) tamaño de empresa ("company_size")

> Dataset https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv

In [ ]:
# Importamos df
df_fortune = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv")
glimpse(df_fortune)

Rows: 1,000
Columns: 8
$ Rank      <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1…
$ Company   <chr> "Walmart", "Exxon Mobil", "Apple", "Berkshire Hathaway", "Mc…
$ Sector    <chr> "Retailing", "Energy", "Technology", "Financials", "Health C…
$ Industry  <chr> "General Merchandisers", "Petroleum Refining", "Computers, O…
$ Location  <chr> "Bentonville, AR", "Irving, TX", "Cupertino, CA", "Omaha, NE…
$ Revenue   <int> 482130, 246204, 233715, 210821, 181241, 157107, 153290, 1523…
$ Profits   <int> 14694, 16150, 53394, 24083, 1476, 5813, 5237, 9687, 7373, 13…
$ Employees <int> 2300000, 75600, 110000, 331000, 70400, 200000, 199000, 21500…

In [ ]:
# Creamos segmentos y los utilizamos para agrupar agregación
df_fortune %>% mutate(
  company_size = case_when(
    Employees>100000 ~ "big"
    , Employees>10000 ~ "medium"
    , TRUE == TRUE ~ "small"
  )
) %>% group_by(
  company_size
  ) %>% summarise(
  median_profits = median(Profits)
)

  company_size median_profits
1 big          2757
2 medium        358
3 small         169